$main-black: #323741;
$sub-black: #575757;
$main-background: #fafafa;
$border-light-gray: #a3a0a0;

$small-device: 500px;
$mobile: 900px;
$desktop: 1200px;
$span-orange: #f06209;
$darker-background: #616a7c;
$main-blue: #0a84fe;
$input-color: #d4d4ed;
$svg-shadow: #dbecfe;

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
